<section>
  <div class="pt-3">
    <h1>{{ title }}</h1>
  </div>
  <div class="d-flex justify-content-start align-items-center py-3 border-bottom border-top border-dark">
    <span>Average rating: </span>
    <button class="rating_circle" [ngClass]="{
      'bg-success': book.averageRating >= 4,
      'bg-warning': book.averageRating < 4 && book.averageRating > 2,
      'bg-danger' : book.averageRating < 2
    }">
      {{ book.averageRating > 0 ? book.averageRating : "N/A" }}
    </button>
  </div>

  <app-review *ngFor="let review of book.reviews" [review]="review" ></app-review>

</section>
