<div class="background">

    <div class="logo-container">
        <img src="./assets/img/logo.png" class="logo-img" alt="logo">
        <h1 class="strong-title">
            Every burnt book enlightens the world.
        </h1>
    </div>

    <div class="container row">
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
            <div class="card auth">
                <div class="card-body auth-card">
                    <div class="auth-avatar">
                        <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
                             alt="user" class="user-image">
                    </div>
                    <form (submit)="register()">
                        <div class="form-group">
                            <label for="name">Username : </label>
                            <input type="text" id="name" class="form-control" placeholder="Username" formControlName="userName"/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email : </label>
                            <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password : </label>
                            <input type="password" id="password" class="form-control" placeholder="********" formControlName="password">
                        </div>
                        <div class="form-group">
                            <label for="c_password">Confirm Password : </label>
                            <input type="password" id="c_password" class="form-control" placeholder="********" formControlName="confirmPassword">
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-my" value="Sign Up">
                        </div>
                        <div class="text-center login">
                            Already have an account ? <a routerLink="/login">Login</a> hera.
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


