<div class="card m-3 text-color" style="width: 15rem;">
    <img class="card-img-top" src="{{ book.imageUrl }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-container">{{ book.title }}</h5>
    </div>
    <div class="px-2 pt-3 border-top d-flex justify-content-between align-items-center">
      <span>User Rating: </span>
      <button class="rating_circle" [ngClass]="{
      'bg-success': book.averageRating >= 4,
      'bg-warning': book.averageRating < 4 && book.averageRating > 2,
      'bg-danger' : book.averageRating < 2 }">
        {{ book.averageRating > 0 ? book.averageRating.toFixed(2) : "N/A" }}
      </button>
    </div>
    <div class="px-2 d-flex justify-content-between align-items-center">
      <span>Critic Rating: </span>
      <button class="rating_circle" [ngClass]="{
      'bg-success': book.averageCriticRating >= 4,
      'bg-warning': book.averageCriticRating < 4 && book.averageCriticRating > 2,
      'bg-danger' : book.averageCriticRating < 2 }">
        {{ book.averageCriticRating > 0 ? book.averageCriticRating.toFixed(2) : "N/A" }}
      </button>
    </div>
</div>
