.card-body {
  width: 240px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 240px;
  height: 360px;
}

.card {
  border-radius: 4px;
  height: 97%;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

img {
  height: 70%;
}

.text-color {
  color: #202020;
}
