<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 p-0">
      <div class="book-filters-container bg-lighter h-100">
        <h3>Filters</h3>
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="h-100">
          <div class="d-flex flex-column justify-content-between h-75">
            <div>
              <div class="form-group">
                <label for="title">Title</label>
                <input id="title" formControlName="title" type="text" />
              </div>
              <div class="form-group">
                <label for="publicationYearStart">Publication Year (Start)</label>
                <input id="publicationYearStart" formControlName="publicationYearStart" type="number" />
              </div>
              <div class="form-group">
                <label for="publicationYearEnd">Publication Year (End)</label>
                <input id="publicationYearEnd" formControlName="publicationYearEnd" type="number" />
              </div>
              <div class="form-group">
                <label for="subjects">Subjects</label>
                <ng-multiselect-dropdown
                  [settings]="dropdownWithNameSettings"
                  [data]="subjects"
                  id="subjects"
                  formControlName="selectedSubjects"
                  placeholder="Select Subjects">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group">
                <label for="authors">Authors</label>
                <ng-multiselect-dropdown
                  [settings]="dropdownWithFullNameSettings"
                  [data]="authors"
                  id="authors"
                  formControlName="selectedAuthors"
                  placeholder="Select Authors">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group">
                <label for="languages">Languages</label>
                <ng-multiselect-dropdown
                  [settings]="dropdownWithNameSettings"
                  [data]="languages"
                  id="languages"
                  formControlName="selectedLanguages"
                  placeholder="Select Languages">
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group">
                <label for="orderBy">Order By</label>
                <select class="form-control" id="orderBy" formControlName="orderBy">
                  <option *ngFor="let item of orderBy" [value]="item.value">{{ item.text }}</option>
                </select>
                <select class="form-control" id="order" formControlName="order">
                  <option value="desc">DESC</option>
                  <option value="asc">ASC</option>
                </select>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="bg-submit">Apply Filters</button>
              <button type="button" class="bg-red" (click)="clearFilters()">Clear Filters</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-10">
      <h2>Book List</h2>
      <div #scrollContainer class="scrollable-container">
        <app-book-view *ngFor="let book of books" [book]="book"></app-book-view>
      </div>

      <!--<div class="text-center mt-3 loading">
        <p *ngIf="isLoading">Loading...</p>
      </div>-->
    </div>
  </div>
</div>


