<div class="sidebar h-100">
  <ul class="p-0">
    <li (click)="selectSection('books')">
      <span>Books</span>
      <a [routerLink]="['book-create']">
        <div class="add-button">
          +
        </div>
      </a>
    </li>
    <li (click)="selectSection('authors')">
      <span>Authors</span>
      <a [routerLink]="['author-create']">
        <div class="add-button">
          +
        </div>
      </a>
    </li>
    <li (click)="selectSection('languages')">
      <span>Languages</span>
      <a [routerLink]="['language-create']">
        <div class="add-button">
          +
        </div>
      </a>
    </li>
    <li (click)="selectSection('subjects')">
      <span>Subjects</span>
      <a [routerLink]="['subject-create']">
        <div class="add-button">
          +
        </div>
      </a>
    </li>
  </ul>
</div>
