<section class="h-100 p-0 m-0">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-5 h-100 bg-main p-0">
        <div class="logo-container d-flex flex-column align-items-center">
          <h1 class="strong-title mb-3">
            {{ book.title }} ({{ book.publicationYear }})
          </h1>
          <span class="text-white mb-2">
            by <span *ngFor="let author of book.authors"> {{ author.fullName }} </span>
          </span>
          <img src="{{ book.imageUrl }}" class="logo-img logo" alt="logo">
        </div>
      </div>

      <div class="col-lg-7 container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-start" style="height: 95%">
            <app-review-section [title]="'User reviews'" [book]="book" class="pl-2"></app-review-section>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-start" style="height: 95%">
            <app-critic-review-section [title]="'Critic reviews'" [book]="book"></app-critic-review-section>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


