<section class="h-100 p-0 m-0">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-5 h-100 bg-main p-0">
        <div class="logo-container h-100 d-flex flex-column justify-content-center align-items-center">
          <img src="./assets/img/logo.png" class="logo-img" alt="logo">
          <h1 class="strong-title">
            Every burnt book enlightens the world.
          </h1>
        </div>
      </div>

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-center" style="height: 100%">
        <div class="container row">
          <div class="col-md-8 offset-md-2">
            <div class="error-message">
              <span> {{ this.message }}</span>
            </div>
            <div class="card auth">
              <div class="card-body auth-card">
                <form [formGroup]="form" (submit)="update()">
                  <div class="mb-2">
                    <label for="id">Id: </label>
                    <input type="text" id="id" class="form-control" placeholder="id" formControlName="id" readonly/>
                  </div>
                  <div class="mb-2">
                    <label for="name">Name: </label>
                    <input type="text" id="name" class="form-control" placeholder="subject name" formControlName="name"/>
                  </div>
                  <div class="text-center">
                    <input type="submit" class="btn signup-btn bg-red" value="Update">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
