.page-footer {
  height: 3.2em;
  width: 100%;
  padding: 0;
  margin: 0;
}

strong {
  color: white !important;
  margin-right: 1px;
  font-size: 15px;
}

.pre-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  bottom: 55px !important;
  margin: 0;
  padding-right: 25%;
  z-index: 1;
  height: 4em;
  width: 40%;
}

.icon-prefooter {
  color: white;
  font-size: 1.5em;
  margin-right: 4%;
}

.icon-prefooter-mail {
  color: white;
  font-size: 1.7em;
  margin-right: 4%;
}

a[target=_blank] {
  color: #e4ecf6;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .pre-footer {
    display: none
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}

.start-screen {
  justify-content: center;
  flex-flow: nowrap column;
  min-height: 100vh;
  margin: 0 auto;
}

.loading {
  display: flex;
  margin-top: 3px !important;
}

.box-policies {
  background-color: #fd2d2d;
  justify-content: center;
  height: 4em;
  margin-top: 4%;
  margin-right: 0;
  margin-left: 40%;
  padding-top: 2%;
  color: white !important;
  font-size: 0.8em;
}

.box-policies a {
  color: white !important;
  margin-left: 4%;
  font-weight: bold;
}

/* End Animations */
@media (max-width: 767.98px) {
  .Serch-Title {
    font-size: 1em;
    color: #4285f4;
  }
}

@media (max-width: 575.98px) {
  .product-rating-details {
    padding-left: 0;
  }

  input[type="text"] {
    font-size: 0.5em;
  }

  .box-policies {
    width: 100%;
  }
}
