<footer class="page-footer fixed-bottom">
  <div class="pre-footer text-right">
    <strong class="ml-4 mr-2"> FOLLOW US: </strong>
    <a href="">
      <i class="fab fa-instagram icon-prefooter ml-1"></i>
    </a>
    <a href="">
      <i class="fab fa-facebook icon-prefooter ml-3"></i>
    </a>
  </div>

  <div class="container box-shadow box-policies fixed-bottom py-3">
    <div class="col-12">
      <a  [routerLink]="['/Faq']" [routerLinkActive]="['active']"  href="#">
        <strong> FAQS </strong>
      </a>
      <a href="https://termsfeed.com/privacy-policy/d7b3e2e182f890c72fbcf256ba22a5ef">
        <strong> PRIVATE POLICY </strong>
      </a>
      <a  [routerLink]="['/Contact']" [routerLinkActive]="['active']"  href="#">
        <strong> CONTACT </strong>
      </a>
      <a href="">
        <i class="far fa-envelope icon-prefooter-mail text-left"></i>
      </a>
    </div>
  </div>

</footer>
