<footer class="container-fluid page-footer fixed-bottom p-0">
  <div class="row h-100 m-0">
    <div class="col-lg-5 bg-darker p-0 d-flex align-items-center">
      <strong class="ml-4 mr-2"> FOLLOW US: </strong>
      <a href="https://www.instagram.com/">
        <i class="fab fa-instagram icon-prefooter ml-1"></i>
      </a>
      <a href="https://www.facebook.com/">
        <i class="fab fa-facebook icon-prefooter ml-3"></i>
      </a>
    </div>

    <div class="col-lg-7 bg-red d-flex align-items-center">
      <a [routerLink]="['/faq']" [routerLinkActive]="['active']" href="#" class="mr-5">
        <strong> FAQS </strong>
      </a>
      <a href="https://www.termsfeed.com/live/62123f6d-80db-4c62-9204-b00489157636" class="mr-5">
        <strong> PRIVATE POLICY </strong>
      </a>
      <a [routerLink]="['/contact']" [routerLinkActive]="['active']" href="#" class="mr-5">
        <strong> CONTACT </strong>
      </a>
    </div>
  </div>
</footer>
