<section class="h-100 p-0 m-0">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-5 h-100 bg-main p-0">
        <div class="logo-container h-100 d-flex flex-column justify-content-center align-items-center">
          <img src="./assets/img/logo.png" class="logo-img" alt="logo">
          <h1 class="strong-title">
            Every burnt book enlightens the world.
          </h1>
        </div>
      </div>

      <div class="col-lg-7 d-flex flex-column justify-content-start" style="height: 100%">
        <div class="container about-box box-shadow ">
          <div class="col-12">
            <div class="row container-fluid text-center">
              <em>
                Each dimension of <strong>our website</strong> is meticulously designed to facilitate your journey into the
                world of
                literature, fostering interdisciplinary exploration and discovery. We handpick <strong>reviews</strong> to
                maximize
                serendipity, ensuring you encounter captivating titles that may have otherwise slipped under your radar. Our
                curated content invites you to delve into diverse literary landscapes and uncover hidden gems.
              </em>
            </div>
          </div>
        </div>

        <div class="container text-center last-updates d-flex flex-column align-items-around">
          <div class="row">
            <div class="col">
              <h5 class="text-center"><strong>LAST UPDATES</strong></h5>
            </div>
          </div>
          <div class="container">
            <div class="row">

              <div class="d-flex col justify-content-around">
                <div *ngFor="let book of lastUpdatedBooks">
                  <a [routerLink]="['/book', book.id]" [routerLinkActive]="['active']">
                    <app-book-preview [book]="book"></app-book-preview>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
